<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">NoGupe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse dropdown" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div *ngIf="!(auth.user | async); else alreadyLoggedIn"></div>
        <div *ngIf="(auth.user | async); else login"></div>
    </form>
  </div>
</nav>


<ng-template #alreadyLoggedIn>
    <button class="btn btn-secondary my-2 my-sm-0" type="button">salir</button>
  </ng-template>
  
<ng-template #login>
    <button class="btn btn-secondary my-2 my-sm-0" type="button"  (click)="irlogin()">Login</button>
  </ng-template>